@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


/* preset the values of body */
body {
    margin: 0;
    background-color: rgb(62, 62, 62);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
}

.heading {
    font-size: 200%;
}

a {
    text-decoration: none;
    color: rgb(146, 7, 114);
}

/* properties of the index page button's Container*/
.buttons {
    padding: 50px;
    height: fit-content;
    background-color: rgb(107, 107, 107);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of the index page tic-tac-toe button*/
#tic-tac-toe {
    width: 300px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    padding: 20px;
    cursor: pointer;
}

#tic-tac-toe:hover {
    background-color: rgb(226, 222, 187);
}

/* properties of the index page calculator button*/
#calculator {
    width: 300px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    padding: 20px;
    cursor: pointer;
}

#calculator:hover {
    background-color: rgb(226, 222, 187);
}

#tic-tac-toe-gif {
    width: 95%;
}

#calculator-gif {
    width: 95%;
}

/* tic-tac-toe page formatting */

/* logo size and position */
#small-logo {
    width: 180px;
    padding: 20px;
    float: left;
}

/* properties of heading area */
.heading-area {
    width: 100%;
    height: fit-content;
    background-color: rgb(75, 137, 133);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of Game area */
.game-area {
    float: none;
    width: 100%;
    height: fit-content;
    background-color: rgb(166, 166, 166);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of Cells Conatiner */
.cells {
    align-items: center;
    padding: 30px;
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: 307px;
}


/* properties of each cells */
.cell {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(70, 70, 70);
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 500%;
    color: white;
    text-align: center;
}

.cell:hover {
    background-color: rgb(80, 80, 80);
}

/* properties of Notification area */
.notification-area {
    width: 100%;
    height: 200px;
    background-color: rgb(75, 137, 133);
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
}

#notification {
    margin: 0;
    padding: 30px;
}

/* properties of Buttons in the tic tac toe page */
.button {
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border: 0;
    background-color: azure;
    color: black;
    cursor: pointer;
    margin: 10px;

}



/* Calculator page formatting */

/* properties of Calculator Container which keep the whole calculator centre of the page */
.calc-big-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* properties of container of all the buttons */
.calculator-container {
    position: relative;
    margin-top: 50px;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    height: fit-content;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    padding: 20px 20px 40px;
}

/* properties of buttons in calculator */
.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/* properties of Display Area of the calculator */
.display {
    width: 89%;
    height: 90px;
    background-color: rgb(45, 45, 45);
    border-style: none;
    outline: none;
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 10px;
    text-align: right;
    color: rgb(183, 183, 183);
    caret-color: transparent;
}

/* formating the buttons in the calculator */
.calc-buttons button {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(68, 68, 68);
    color: rgb(183, 183, 183);
}

/* makes a clicking effect when clicks each button in the calculator */
.calc-buttons button:active {
    transform: scale(0.95);
}

.close-button {
    width:30px;
    position: absolute;
    top: 0;
    left: 0;
}



/* 
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    #logo {
        width: 300px;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 270px;
        height: 350px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 270px;
        height: 350px;
    }

    .heading h5 {
        margin-top: 10px;
    }


    #small-logo {
        float: none;
    }

    /* properties of Cells Conatiner */
    .cells {
        padding: 30px;
        width: 277px;
    }


    /* properties of each cells */
    .cell {
        flex: 0 0 90px;
        width: 90px;
        height: 90px;
        font-size: 470%;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
        background-color: rgb(75, 137, 133);
        color: rgb(255, 255, 255);
        font-family: 'Rajdhani', sans-serif;
    }

    #notification {
        padding: 15px;
    }
    .cells {

        margin-right: 120px;
        margin-left: 120px;
    }

    #player1 {
        order: 1;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }

    #player2 {
        order: 2;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }

}

/* 
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    #logo {
        width: 260px;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 200px;
        height: 300px;
        margin-bottom: 10px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 200px;
        height: 300px;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 170%;
    }

    .heading h5 {
        margin-top: 10px;
    }

    #small-logo {
        float: none;
    }


    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 30px;
        width: 247px;
        margin-right: 60px;
        margin-left: 60px;
    }

    #player1 {
        order: 1;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }

    #player2 {
        order: 2;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }

    #notification {
        padding: 15px;
        font-size: 150%;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 80px;

        width: 80px;
        height: 80px;
        font-size: 470%;
        color: white;
        text-align: center;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
        background-color: rgb(75, 137, 133);
        color: rgb(255, 255, 255);
        font-family: 'Rajdhani', sans-serif;
    }

    .calculator-container {
        margin-top: 20px;
        max-width: 270px;
    }

    .calc-buttons button {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .button {
        font-size: 75%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 140px;
    }


}

/* 
    ##Screen upto 479px
  */

@media (max-width: 480px) {
    #logo {
        width: 200px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .heading h5 {
        margin-top: 0;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 180px;
        height: 220px;
        margin-bottom: 10px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 180px;
        height: 220px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 150%;
    }

    .heading {
        font-size: 130%;
    }


    #small-logo {
        float: none;
        width: 160px;
    }

    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 30px;
        width: 186px;
        margin-right: 60px;
        margin-left: 60px;
    }

    #player1 {
        order: 1;
        width: 85%;
        margin-bottom: 5px;
        line-height: .4;
    }

    #player2 {
        order: 2;
        width: 85%;
        margin-bottom: 5px;
        line-height: .4;
    }

    #notification {
        padding: 15px;
        font-size: 100%;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
        font-size: 360%;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
        background-color: rgb(75, 137, 133);
        color: rgb(255, 255, 255);
        font-family: 'Rajdhani', sans-serif;
    }

    .calculator-container {
        margin-top: 20px;
        max-width: 270px;
    }

    .calc-buttons button {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .button {
        font-size: 70%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 130px;
    }

    .buttons {
        padding: 20px;
    }

}

@media (max-width: 370px) {

    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 10px;
        width: 157px;
        margin-right: 60px;
        margin-left: 60px;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        font-size: 280%;
    }

    #notification {
        padding: 10px;
        font-size: 100%;
    }

    .button {
        font-size: 60%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 110px;
    }
}