@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


/* preset the values of body */
body {
    margin: 0;
    background-color: rgb(59, 108, 104);
    font-family: 'Rajdhani', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
}

/* Main Logo conatiner properties */
.heading {
    font-size: 200%;
    width: 100%;
    height: fit-content;
    background-color: rgb(47, 47, 47);
    margin: 0 auto;
}

h5 {
    margin: 0;
    padding-bottom: 30px;
}

a {
    font-size: 120%;
    text-decoration: none;
    color: rgb(10, 83, 82);
}


/* properties of the index page button's Container*/
.buttons {
    padding: 50px;
    height: fit-content;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of the index page tic-tac-toe button*/
#tic-tac-toe {
    width: 250px;
    height: 320px;
    background-color: rgb(225, 225, 225);
    padding: 20px;
    cursor: pointer;
}

#tic-tac-toe:hover {
    background-color: rgb(226, 222, 187);
}

/* properties of the index page calculator button*/
#calculator {
    width: 250px;
    height: 320px;
    background-color: rgb(225, 225, 225);
    padding: 20px;
    cursor: pointer;
}

#calculator:hover {
    background-color: rgb(226, 222, 187);
}

#tic-tac-toe-gif {
    width: 95%;
}

#calculator-gif {
    width: 95%;
}

.feedback a:hover {
    color: bisque;
}

.back-button-container {
    width: 100%;
    height: 60px;
}

/* tic-tac-toe page formatting */

/* container of the logo in small size */
.sub-heading {
    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 150px;
}

/* container of the logo in small size */
.question-link {
    padding: 20px;
    font-size: 120%;
}

.question-link a {
    color: white;
}

/* logo size and position */
#small-logo {
    width: 180px;
    padding: 20px;
    float: left;
}

/* properties of heading area */
.heading-area {
    width: 100%;
    height: fit-content;
    background-color: rgb(59, 108, 104);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
}

.question-link a:hover {
    color: bisque;
}

/* properties of Game area */
.game-area {
    float: none;
    width: 100%;
    height: fit-content;
    background-color: rgb(166, 166, 166);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of Cells Conatiner */
.cells {
    align-items: center;
    padding: 30px;
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: 307px;
}

/* properties of each cells */
.cell {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(70, 70, 70);
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 500%;
    color: white;
    text-align: center;
}

/* Changes the color of cell when mouse hover */
.cell:hover {
    background-color: rgb(80, 80, 80);
}

/* properties of Notification area */
.notification-area {
    width: 100%;
    height: 200px;
    background-color: rgb(59, 108, 104);
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
}

#notification {
    margin: 0;
    padding: 30px;
}

/* properties of Buttons in the tic tac toe page */
.button {
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border: 0;
    background-color: azure;
    color: black;
    cursor: pointer;
    margin: 10px;
}

.fields-tic {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(7, 95, 98);
}

.fields-tic label {
    line-height: 2;
}

/* Calculator page formatting */

/* properties of Calculator Container which keep the whole calculator centre of the page */
.calc-big-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(60, 60, 60); */
    padding-bottom: 80px;

}

/* properties of container of heading area in calculator page */
.heading-area-calc {
    width: 100%;
    height: fit-content;
    background-color: rgb(16, 50, 47);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
}

/* properties of container of all the buttons */
.calculator-container {
    position: relative;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    height: fit-content;
    background-color: rgb(30, 80, 77);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    padding: 20px 20px 40px;
}

/* properties of buttons in calculator */
.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/* properties of Display Area of the calculator */
.display {
    width: 89%;
    height: 90px;
    background-color: rgb(30, 80, 77);
    border-style: none;
    outline: none;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: right;
    color: rgb(255, 255, 255);
    caret-color: transparent;
}

/* formating the buttons in the calculator */
.calc-buttons button {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(1, 105, 106);
    color: rgb(255, 255, 255);
}

/* makes a clicking effect when clicks each button in the calculator */
.calc-buttons button:active {
    transform: scale(0.95);
}

/* add style to the how to play area sub heading */
.sub-heading-how-to-play {
    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 150px;
}

/* add style to the how to play area container */
.how-to-play-area {
    padding-left: 40px;
    font-family: 'Rajdhani', sans-serif;
    align-items: center;
}

/* add style to the how to play area */
.how-to-play {
    width: 90%;
    height: fit-content;
    padding: 20px;
    font-size: 120%;
}

#text-content {
    text-align: left;
}

/* add style to the how to play images */
.how-to-play img {
    padding: 5px;
    width: 220px;
}

.button-container {
    padding-bottom: 40px;

}

.feedback {
    padding: 10px;
    background-color: rgb(4, 69, 70);
}

.feedback a {
    color: aliceblue;
}

/* add style to the feedback form */
.feedback-form {
    padding-top: 20px;
    margin: 0 auto;
    width: 30%;
}

.fields {
    border-radius: 20px;
    width: 90%;
    border: 2px solid rgb(7, 95, 98);
}

#feedback {
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(198, 254, 254);
    margin: 4px;
    color: rgb(13, 93, 103);
    width: 90%;
}

#name-field {
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(198, 254, 254);
    color: rgb(13, 93, 103);
    margin: 4px;
}

#email-field {
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(198, 254, 254);
    color: rgb(13, 93, 103);
    margin: 4px;
}

#phone-field {
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(198, 254, 254);
    color: rgb(13, 93, 103);
    margin: 4px;
}

.go-back-button {
    width: 140px;
    padding: 15px 100px 0 15px;
    float: left;
}

.go-back-button-calc {
    width: 140px;
    padding: 10px 0 10px 0;
    float: left;
}

.hide {
    display: none;
}

/* 
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    #logo {
        width: 270px;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 230px;
        height: 290px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 230px;
        height: 290px;
    }

    .heading h5 {
        margin-top: 10px;
    }


    #small-logo {
        float: none;
    }

    /* properties of Cells Conatiner */
    .cells {
        padding: 30px;
        width: 277px;
    }


    /* properties of each cells */
    .cell {
        flex: 0 0 90px;
        width: 90px;
        height: 90px;
        font-size: 470%;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
    }

    #notification {
        padding: 15px;
    }

    .cells {

        margin-right: 120px;
        margin-left: 120px;
    }

    #player1 {
        order: 1;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }

    #player2 {
        order: 2;
        width: 45%;
        margin-bottom: 20px;
        line-height: .5;
    }


    .feedback-form {
        width: 60%;
    }

    .go-back-button {
        width: 120px;
        padding-right: 90px;
    }

    .go-back-button-calc {
        width: 120px;
        margin-left: 20px;
    }

}

/* 
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    #logo {
        width: 210px;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 200px;
        height: 270px;
        margin-bottom: 10px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 200px;
        height: 270px;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 170%;
    }

    .heading h5 {
        margin-top: 10px;
    }

    #small-logo {
        float: none;
    }


    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 30px;
        width: 247px;
        margin-right: 60px;
        margin-left: 60px;
    }

    #player1 {
        order: 1;
        width: 45%;
        margin-bottom: 20px;
        margin-right: 8px;
        line-height: .5;
    }

    #player2 {
        order: 2;
        width: 45%;
        margin-bottom: 20px;
        margin-right: 8px;
        line-height: .5;
    }

    #notification {
        padding: 15px;
        font-size: 150%;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 80px;

        width: 80px;
        height: 80px;
        font-size: 470%;
        color: white;
        text-align: center;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
    }

    .calculator-container {
        margin-top: 20px;
        max-width: 270px;
    }

    .calc-buttons button {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .button {
        font-size: 75%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 140px;
    }

    .feedback-form {
        width: 80%;
    }

    .go-back-button {
        width: 120px;
    }

    .go-back-button-calc {
        width: 120px;
        margin-left: 20px;
    }

    .how-to-play img {
        width: 40%;
    }

    .how-to-play-area {
        align-items: center;
        padding-left: 0px;
    }
}

/* 
    ##Screen upto 479px
  */

@media (max-width: 480px) {
    #logo {
        width: 180px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .heading h5 {
        margin-top: 0;
    }

    /* properties of the index page tic-tac-toe button*/
    #tic-tac-toe {
        width: 180px;
        height: 220px;
        margin-bottom: 10px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 180px;
        height: 220px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 150%;
    }

    .heading {
        font-size: 130%;
    }


    #small-logo {
        float: none;
        width: 160px;
    }

    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 30px;
        width: 186px;
        margin-right: 60px;
        margin-left: 60px;
    }

    #player1 {
        order: 1;
        width: 85%;
        margin-bottom: 5px;
        line-height: .4;
    }

    #player2 {
        order: 2;
        width: 85%;
        margin-bottom: 5px;
        line-height: .4;
    }

    #notification {
        padding: 15px;
        font-size: 100%;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
        font-size: 360%;
    }

    /* properties of Notification area */
    .notification-area {
        width: 100%;
        height: 200px;
    }

    .calculator-container {
        margin-top: 20px;
        max-width: 270px;
    }

    .calc-buttons button {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .button {
        font-size: 70%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 130px;
    }

    .buttons {
        padding: 20px;
    }

    .feedback-form {
        width: 90%;
    }

    .go-back-button {
        width: 100px;
    }

    .go-back-button-calc {
        width: 100px;
        margin-left: 20px;
    }

    .how-to-play img {
        width: 60%;
    }

    .how-to-play-area {
        padding-left: 0px;
    }

    .question-link a {
        font-size: 90%;
    }

    .heading-area h2 {
        margin-bottom: 0;
    }

    .players {
        font-size: 90%;
    }
    .how-to-play-area {
        font-size: 80%;
    }
}



@media (max-width: 370px) {

    /* properties of Cells Conatiner */
    .cells {
        align-items: center;
        order: 0;
        padding: 10px;
        width: 157px;
        margin-right: 60px;
        margin-left: 60px;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        font-size: 280%;
    }

    #notification {
        padding: 10px;
        font-size: 100%;
    }

    .button {
        font-size: 60%;
    }

    /* properties of Notification area */
    .notification-area {
        height: 110px;
    }

    .how-to-play-area {
        padding-left: 0px;
    }

    .how-to-play img {
        width: 70%;
    }

    .question-link a {
        font-size: 60%;
    }

    .question-link {
        padding-bottom: 20px;
    }

    .heading-area h2 {
        margin-bottom: 0;
    }

    .players {
        font-size: 80%;
    }

    .feedback a {
        font-size: 90%;
    }
    .how-to-play-area {
        width: 90%;
        padding: 10px;
        font-size: 80%;
    }
    .how-to-play-area p{
        text-align: justify;
    }
}

@media (max-width: 300px) {

    /* properties of Cells Conatiner */
    .cells {
        order: 0;
        width: 160px;
        margin: 0 auto;
    }

    /* properties of each cells */
    .cell {
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
    }

    #notification {
        padding: 10px;
        font-size: 100%;
    }

    .button {
        font-size: 60%;
    }

    #tic-tac-toe {
        width: 110px;
        height: 140px;
        margin-bottom: 10px;
    }

    /* properties of the index page calculator button*/
    #calculator {
        width: 110px;
        height: 140px;
        margin-bottom: 10px;
    }

    .buttons a {
        font-size: 90%;
    }

    .calc-big-container {
        width: 70%;
        margin: 0 auto;
    }

    .calc-buttons button {
        width: 40px;
        height: 40px;
        font-size: 80%;
    }
    .display{
        width:98%;
        margin-bottom: 0;
        height: 50px;
        font-size: 25px;
    }
    .heading-area-calc{
        font-size: 80%;
    }
}