@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');



body{
    margin:0;
    background-color:rgb(62, 62, 62);
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align: center;
}
.heading{
    font-size: 200%;
}
a{
    text-decoration: none;
    color: rgb(146, 7, 114);
}

.buttons{
    height: fit-content;
    background-color:rgb(107, 107, 107);
    color:black;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    font-family: 'Rajdhani', sans-serif;
}
#tic-tac-toe{
    width:300px;
    height: 400px;
    background-color:rgb(172, 172, 172);
    margin:50px;
    padding: 20px;
    cursor: pointer;
}
#tic-tac-toe:hover{
    background-color:rgb(226, 222, 187);
}
#calculator{
    width:300px;
    height: 400px;
    background-color:rgb(172, 172, 172);
    margin:50px;
    padding: 20px;
    cursor: pointer;
}

#calculator:hover{
    background-color:rgb(226, 222, 187);
}
#tic-tac-toe-gif{
    width:95%;
}
#calculator-gif{
    width:95%;
}

/* tic-tac-toe page formatting */

#small-logo{
    width:200px;
    padding-left:20px;
    float:left;
}
.heading-area{
    width:100%;
    height: fit-content;
    background-color:rgb(75, 137, 133);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    font-family: 'Rajdhani', sans-serif;
}
.game-area{
    float:none;
    width:100%;
    height: fit-content;
    background-color:rgb(166, 166, 166);
    color:black;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    font-family: 'Rajdhani', sans-serif;
}
.cells{
    align-items: center;
    padding:80px;
    float:none;
    display:flex;
    flex-wrap: wrap;
    width:315px;
}
.cell{
    background-color: rgb(70, 70, 70);
    flex: 0 0 100px;
    width:100px;
    height: 100px;
    border:1px solid black;
    cursor: pointer;
}
button{
    width:70px;
    border: 0;
    /* border-radius: 10px; */
    background-color: azure;
    color:black;
    cursor: pointer;

}